*{
    box-sizing: border-box;   
}

:root{
    --primary: #465462; /*strong*/
    --secondary: #626a9eab; /*info background*/
    --third: #ffffffce; /*sections background*/
    --fourth: #242b31; /*font*/
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
    background:linear-gradient(white, rgba(33, 103, 160, 0.383)),url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}

p, h1, h2, h3, h4, h5, a, li{
    color: var(--fourth);
    font-weight: 500;
    letter-spacing: 2px;
}

a:hover{
    text-decoration: none;
    color:black;
    font-weight: 900;
}

/*Presentation*/
#presentation p, h4, h1{
    text-align: left;
}

#presentation{
    min-height: 100vh;
}

#presentation h1 {
    color: var(--primary);

}

.profile img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--secondary);
    margin: 3vh 0 5vh 0;
}

section{
    padding: 5vh 5vw;
}

#info{
    background-color: var(--secondary);
}

.programming-languajes{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 5px 10px;
}

.programming-languajes img{
    width: 40px;
    margin: 15px 50px;
    object-fit: scale-down;
}

/*Accordion*/
.btn-link:hover, .btn-link:focus{
    text-decoration: none;
}

.card-header:hover, .card-header:focus{
    background-color: var(--fourth);
    cursor: pointer;
}

.card-header:hover .card-header-title{
    font-weight: 1000;
}

.card-header[aria-expanded="true"] .card-header-title{
    font-weight: 1000;
}

.card-header[aria-expanded="true"] {    
    background-color: var(--fourth);
}

#accordion section{
    background-color: var(--third);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.col{
    margin: 0.8vh 1.83vw;
}

.col-title{
    text-align: left;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

ul{
    list-style: circle;
    padding: 0;
}

li{
    text-align: left;
    margin: 1.1vh 0px;
}   

.wrapper h4{
    text-align: left;
}

.card{
    margin: 4vh 2vw;
    border: 1px solid black;
    box-shadow: var(--fourth) 5px 5px 8px;
    background-color: transparent;
    overflow: hidden;
}

.card-header{
    background-color: var(--primary);
}

.card-body{
    border-top: 1px solid black;
    padding: 0;
}

.card-header h5{
    color: var(--third) ;
}


/*Scroll down btn*/
#btnScrollDown{
    font-size: 55px;
    transition: 0.3s;
    color: var(--secondary);
    display: inline-block;
    -webkit-animation: slide-top 5s linear infinite alternate both;
	        animation: slide-top 5s linear infinite alternate both;
    text-align: center;
}

#btnScrollDown:hover{
    cursor: pointer;
    opacity: 50%;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-3vh);
              transform: translateY(-3vh);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-3vh);
              transform: translateY(-3vh);
    }
  }
  

  @media(max-width: 700px){
    #presentation h2 {
        font-size: 40px;
    }

    .profile img{
        width: 120px;
        height: 120px;
    }
    
    .card-header h5{
        font-size: medium;
    }

    .programming-languajes img{
        margin: 15px 20px;
    }
}


/*Projects*/
#projects{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

.project{
    padding: 5px;
    margin: 15px;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    border: 1px solid var(--secondary);
}

.project:hover{
    transform: translateX(-3px);
    
    box-shadow: var(--fourth) 5px 5px 8px;
}

.project img{
    margin: 10px 5px;
    object-fit: cover;
    width: 270px;
}

.github-link:hover{
    font-weight: bold;
    color: var(--fourth);
}

/*About me*/
.about{
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
    align-items: center;
}
#social img{
    height: 70px;
    object-fit: scale-down;
}