*{
    box-sizing: border-box;   
}

:root{
    --light: #ffffff;
    --dark: #3f3f3f;
}

#themeSelector{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.theme-item{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.theme-turquoise{
    --primary: #4ca198;
}

.theme-orange{
    --primary: #e2a55f;
}

.theme-green{
    --primary: #64a966;
}

.theme-yellow{
    --primary: #b9ba6b;
}

.theme-red{
    --primary: #ac4848;
}


body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
    background:linear-gradient(lightgray 40%, black),url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}


footer{
    position: relative;
    bottom: 0;
}

p, h1, h2, h3, h4, h5, a, li{
    color: var(--dark);
    letter-spacing: 2px;
}

a:hover{
    text-decoration: none;
    color:var(--primary);
    font-weight: 900;
}

/*Presentation*/
#presentation p,#presentation h4,#presentation h1{
    text-align: left;
}

#presentation{
    min-height: 100vh;
}

#presentation h1 {
    color: var(--primary);
    filter: contrast(2) brightness(0.5)

}

.profile img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 50%;
    border: 4px solid var(--primary);
    margin: 3vh 0 5vh 0;
}

section{
    padding: 5vh 5vw;
}

#info{
    background-color: transparent;
    -webkit-backdrop-filter: brightness(0.8);
    backdrop-filter: brightness(0.8);
}

.programming-languajes{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 25px 10px;
}

.programming-languajes img{
    width: 40px;
    margin: 15px 50px;
    object-fit: scale-down;
}

/*Accordion*/
.btn-link:hover, .btn-link:focus{
    text-decoration: none;
}

.card-header:hover, .card-header:focus{
    background-color: var(--dark);
    cursor: pointer;
}

.card-header:hover .card-header-title{
    color: var(--light);
}

.card-header[aria-expanded="true"] .card-header-title{
    color: var(--light);
}

.card-header[aria-expanded="true"] {    
    background-color: var(--dark);
}


.wrapper {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(255px, 1fr));
}

.col{
    margin: 0.8vh 1.5vw;
}

.col-title{
    text-align: left;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

ul{
    list-style: circle;
    padding: 0;
}

li{
    text-align: left;
    margin: 1.1vh 0px;
}   

.wrapper h4{
    text-align: left;
}

.card{
    
    margin: 4vh 2vw;
    border: 1px solid var(--dark);
    box-shadow: var(--dark) 5px 5px 8px;
    overflow: hidden;
    background-color: var(--light);
}

.card-header{
    transition: 0.3s;
    background-color: var(--primary);
}

.card-body{
    border-top: 1px solid black;
    padding: 0;
}

.card-header h5{
    color: var(--light) ;
}



/*Scroll down btn*/
#btnScrollDown{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    filter: contrast(2) brightness(0.5);
    font-size: 55px;
    transition: 0.3s;
    color: var(--primary);
    display: inline-block;
    -webkit-animation: slide-top 5s linear infinite alternate both;
	        animation: slide-top 5s linear infinite alternate both;
    text-align: center;
}

#btnScrollDown:hover{
    cursor: pointer;
    opacity: 50%;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-3vh);
              transform: translateY(-3vh);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-3vh);
              transform: translateY(-3vh);
    }
  }
  

/*Projects*/
#projects{
    column-gap: 25px;
    row-gap: 25px;
    display: grid;
    grid-template-columns: repeat(autofill, 3, 1fr);
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
}

.project{
    transition: 0.2s;
    width: 100%;
    padding: 5px;
    margin: auto;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project a{
    display: block
}

.project h5, .project a, .project i{
    color: var(--light);
    padding: 0 5px;
    margin: 5px 0px;
}

.project:hover{
    transform: translateX(-3px);
    
    box-shadow: var(--dark) 5px 5px 8px;
}

.project img{
    margin: 5px 0;
    border-radius: 15px;
    width: 100%; 
    object-fit: cover;
}

.github-link:hover, .github-link:hover i{
    font-weight: bold;
    color: var(--dark);
}

/*About me*/
.about{
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
    align-items: center;
}
#social img{
    height: 70px;
    object-fit: scale-down;
}

.media-icons i{
    font-size: xx-large;
    margin: 15px;
    color: var(--dark)
}

.media-icons i:hover{
    color: var(--primary)
}


@media(max-width: 700px){
    .profile img{
        width: 120px;
        height: 120px;
    }

    .programming-languajes img{
        margin: 15px 20px;
    }

    #themeSelector{
        position: absolute;
    }

    .card{
        font-size: 1rem;
    }

    .card-header h5, .project h5{
        white-space: normal;
    }
}
