*{
    box-sizing: border-box;   
}

:root{
    --dark: #2e2e2e;
    --bright: rgb(230, 230, 230);
}

#themeSelector{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.theme-item{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.theme-turquoise{
    --primary: #4ca198;
}

.theme-orange{
    --primary: #cf9859;
}

.theme-green{
    --primary: #64a966;
}

.theme-yellow{
    --primary: #b9ba6b;
}

.theme-red{
    --primary: #c45252;
}


body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    margin: 0;
    background-color: rgb(58, 58, 58);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}


footer{
    position: relative;
    bottom: 0;
}

p, h1, h2, h3, h4, h5, a, li{
    color: var(--bright);
    letter-spacing: 2px;
}

a:hover{
    text-decoration: none;
    color:var(--primary);
    font-weight: 900;
}

/*Presentation*/
#presentation p,#presentation h4,#presentation h1{
    text-align: left;
}

#presentation h1 {
    color: var(--primary);
    font-weight: bolder;
}

.profile img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 50%;
    border: 4px solid var(--primary);
    margin: 3vh 0 5vh 0;
    background-color: var(--bright);
}

section{
    padding: 5vh 5vw;
}

#info{
    background-color: transparent;
    -webkit-backdrop-filter: brightness(0.8);
    backdrop-filter: brightness(0.8);
}

.programming-languajes{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 25px 10px;
}

.programming-languajes img{
    width: 45px;
    margin: 15px 50px;
    object-fit: scale-down;
}

.img-resize {
    width: 70px !important;
}

/*Accordion*/
.btn-link:hover, .btn-link:focus{
    text-decoration: none;
}

.card-header:hover, .card-header:focus{
    background-color: var(--bright);
    cursor: pointer;
}

.card-header:hover .card-header-title{
    color: var(--dark);
}

.card-header[aria-expanded="true"] .card-header-title{
    color: var(--dark);
}

.card-header[aria-expanded="true"] {    
    background-color: var(--bright);
}


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1;
}

.col{
    margin: 0.8vh 1.5vw;
    flex: 1;
    width: auto;
}

.col-title{
    text-align: left;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

ul{
    list-style: circle;
    padding: 0;
}

li{
    text-align: left;
    margin: 1.1vh 0px;
}   

.wrapper h4{
    text-align: left;
}

.card{
    margin: 4vh 2vw;
    border: 1px solid var(--bright);
    overflow: hidden;
    background-color: var(--dark);
}

.card-header{
    transition: 0.3s;
    background-color: var(--primary);
}

.card-body{
    border-top: 1px solid black;
    padding: 0;
}

.card-header h5{
    color: var(--dark);
    font-weight: bolder;
}


/*Projects*/
#projects{
    column-gap: 25px;
    row-gap: 25px;
    display: grid;
    grid-template-columns: repeat(autofill, 3, 1fr);
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
}

.project{
    transition: 0.2s;
    width: 90%;
    padding: 10px;
    margin: auto;
    background-color: var(--primary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project a{
    display: block
}

.project p, .project a, .project i{
    padding: 0 5px;
    margin: 5px 0px;
}

.project p {
    height: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:hover{
    transform: translateX(-3px);
    
    box-shadow: var(--bright) 5px 5px 10px;
}

.project img{
    margin: 5px 0;
    border-radius: 15px;
    width: 100%; 
    object-fit: cover;
}

.link{
    text-align: left;
}

.link:hover, .link:hover i{
    font-weight: bold;
    color: var(--bright);
    transition: 0.3s;
}

/*About me*/
.about{
    display: flex;
    flex-direction: column;
    margin: 25px 50px;
    align-items: center;
    flex: 1;
}

#social img{
    height: 70px;
    object-fit: scale-down;
}

.media-icons i{
    font-size: xx-large;
    margin: 15px;
}

.media-icons i:hover{
    color: var(--primary)
}

#social-media{
    color: var(--bright)
}

/*Experience*/
#experience{
    text-align: left;
}

#experience  a{
    color: var(--primary);
}

#experience a:hover{
    color: var(--bright);
}


@media(max-width: 700px){
    .wrapper{
        flex-direction: column;
    }

    .profile img{
        width: 120px;
        height: 120px;
    }

    .programming-languajes img{
        margin: 15px 20px;
    }

    #themeSelector{
        position: absolute;
    }

    .card{
        font-size: 1rem;
    }

    .card-header h5, .project h5{
        white-space: normal;
    }
}
